---
//@ts-nocheck
import PageLayout from "../../PageLayout/PageLayout.astro";
import RundKnap from "../../components/RundKnap.astro";

export async function getStaticPaths() {
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rb3VveGZwdHd1aXV2eW5wZW5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzNDUzMzcsImV4cCI6MjA5NDkyMTMzN30.Ho_FKbZeRhGOL0hL93Ko2V096lDcpgy60FoR0cQHnWs"
    }
  };

  const response = await fetch(
    "https://okouoxfptwuiuvynpeno.supabase.co/rest/v1/Shop",
    options  // ← manglede her!
  );
  const data = await response.json();

  return data.map((shop) => ({
    params: { slug: shop.slug },
    props:  { shop }
  }));
}

const {shop} = Astro.props;

---

<PageLayout heading={shop.Name}>
     
        <h1>Shop</h1>
        <a class="backbtn" href="/shop">← Tilbage</a>
      <section>
       <!-- <img src={shop.Photo} alt={shop.Name} /> -->
        <div> <img src="/public/imgs/broderikitandet 1_result_1.webp" alt={shop.Name} /></div>
    <div> <h2>{shop.Name}</h2>
     <h3>{shop.Price} kr</h3>
  <p>{shop.Smalldescription}</p>
    <p>{shop.Description}</p>
  
   <div class="enknap"><RundKnap  tekst="VÆLG STØRRELSE" variant="hvid"/></div>
  <div class="toknap"><RundKnap tekst="+1" variant="hvid"/> 
<RundKnap tekst="LÆG I KURVEN"/> </div></div> </section>
</PageLayout> 
<style>
  .backbtn {
    display: inline-block;
    margin: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  h1 {
    text-align: center;
    margin: -0.5rem;
  
  }
   
  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
  
  }
  * {
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
  }
  section {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
   
  }
  .enknap {
    display: grid;
   justify-content: center;
  width: 100%;
  grid-template-columns: 2fr;
  
}

   .toknap {
    display: flex;
    gap: 1rem;
    place-content: center;
  }
  @media (min-width: 900px) {
    img {
      width: 100%;
      aspect-ratio: 0.8;
      object-fit: cover;
      border-radius: 4px;
    
  }
  section {
display:grid;
grid-template-columns: 1fr 1fr;
  }
  * {
    margin: 2rem;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {margin:-0.5rem;}

 }
</style>