---
const { navn, titel, tekst, billede } = Astro.props;
---

<div class="team">
    <img src={billede} alt={navn} />
    <h3>{navn}</h3>
    <p class="titel">{titel}</p>
    <p>{tekst}</p>
  </div>



<style>

h2{
   text-align: center;
}

.team{
    max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

    .team img {
      width: 80%;
      aspect-ratio: 3/4;
      object-position: top;
      margin: 3rem auto 1rem;
      display: block;
      object-fit: cover; 

    }

    .team p{
        margin-top: 1rem;
    }



</style>